@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Electrolize|VT323|Indie+Flower');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
}


#main-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 218px;
  padding-bottom: 218px;
  background-image: url(images/splash-background.jpeg);
  background-size: contain;

}

#h1-splash {
  font-size: 60px;
  font-family: 'Indie Flower', cursive;
  color: yellow;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#btn-splash {
  font-family: 'Roboto Mono', monospace;
  background: white;
  font-size: 30px;
  padding: 0px 30px;
  width: 20%;
  border-style: none;
}

.text-splash {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#btn-splash:hover {
  background-color:  #fcffbf;
}

#main-game {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  background-image: url(images/game-background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px 100px 150px 30px;
}

.text-game {
  color: white;
}

canvas {
  border: 1px solid white;
  background-color: #effbff;
}

#header-game {
  width: 40%;
  align-self: flex-start;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
}


#main-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 218px;
  padding-bottom: 218px;
  background-image: url(images/splash-background.svg)
}


#h1-over {
  font-size: 50px;
  margin: 3px 3px 3px 3px;
  color: #852fc6;
  font-weight: bold;

}

#btn-over {
  font-family: 'Roboto Mono', monospace;
  background: white;
  font-size: 30px;
  padding: 0px 30px;
  width: 20%;
  border-style: none;
}

#btn-over:hover {
  background-color:  #fcffbf;
}

.scored-par {
  font-size: 20px;
}
