@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Electrolize|VT323|Indie+Flower');


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

button {
  font-family: 'Roboto Mono', monospace;
}


.main-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(images/splash-background.jpeg);
  background-size: cover;
  position: fixed;
  justify-content: center;
}

.h1-splash {
  font-size: 60px;
  font-family: 'Indie Flower', cursive;
  color: yellow;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}



.btn-splash {
  font-family: 'Roboto Mono', monospace;
  background: white;
  font-size: 30px;
  padding: 0px 30px;
  border-style: none;
  color: rgb(146, 212, 247)
}

.text-splash {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.btn-splash:hover {
  background-color:  #fcffbf;
}

.main-game {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0px 30px 0px 30px;
}

.text-game {
  color: rgb(112, 209, 254);
}

canvas {
  border: 3px dashed rgb(93, 103, 119);
  background-image: url(images/kitchen.png);
}

.header-game {
  width: 40%;
  align-self: center;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
}


.main-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(images/splash-background.jpeg);
  position: fixed;
  justify-content: center;
}

.h1-flanders {
  font-size: 60px;
  font-family: 'Indie Flower', cursive;
  color: yellow;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.main-flanders {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(images/newflandersover.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  justify-content: center;
}


.h1-over {
  font-size: 60px;
  margin: 3px 3px 3px 3px;
  font-family: 'Indie Flower', cursive;
  color: yellow;
  font-weight: bold;
}

.h1-instructions {
  font-size: 60px;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color: rgb(146, 212, 247);
  font-weight: bold;
}

.flanders-text {
  font-size: 30px;
  font-weight: bold;
}

.btn-flanders {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  padding: 0px 30px;
  border-style: none;
  background: white;
  color: rgb(209, 157, 50)
}

.btn-flanders:hover {
  background: rgb(209, 157, 50);
  color: white;
}

.btn-flanders {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  padding: 0px 30px;
  border-style: none;
  background: white;
  color: rgb(91, 148, 193);
}

.btn-flanders:hover {
  background: rgb(91, 148, 193);
  color: white;
}


.scored-par {
  font-size: 15px;
}

.instructions-par {
  font-size: 20px;
  text-align: center;
}

.h1-win {
  color: white;
  padding-left: 400px;
  margin: 0px;
  font-size: 60px;
}

.win-text {
  font-size: 30px;
  font-weight: bold;
  padding-left: 400px;
}

.btn-over-win {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  padding: 0px 30px;
  border-style: none;
  background: white;
  color: rgb(91, 148, 193);
  margin-left: 400px;
}

.btn-over-win:hover {
  background: rgb(91, 148, 193);
  color: white;
}

.main-win {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url(images/homerhappy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  justify-content: center;
}

.btn-over {
  font-family: 'Roboto Mono', monospace;
  background: white;
  font-size: 30px;
  padding: 0px 30px;
  border-style: none;
  color: rgb(146, 212, 247)
}

.btn-over:hover {
  background-color:  #fcffbf;
}

.btn-instructions {
  font-family: 'Roboto Mono', monospace;
  background: white;
  font-size: 30px;
  padding: 0px 30px;
  border-style: none;
  color: rgb(146, 212, 247);
  margin-top: 10px;
}

.btn-instructions:hover {
  background-color:  #fcffbf;
}

.ins-img {
  max-width: 50%;
  max-height: 50%;
}

.main-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  justify-content: center;
}

.btn-back {
  font-family: 'Roboto Mono', monospace;
  background: white;
  font-size: 30px;
  padding: 0px 30px;
  border-style: none;
  color: rgb(146, 212, 247);
  margin-top: 10px;

}

.btn-back:hover {
  background-color:  #fcffbf;
}